{% load i18n unfold %}

{% component "unfold/components/card.html" with title="Zusammenfassung (aktuelle Filterung)" class="mt-6" %}
  <div class="grid grid-cols-3 gap-6">

    <div>
      {% component "unfold/components/text.html" with class="text-font-subtle-light dark:text-font-subtle-dark" %}
        Gesamtstunden
      {% endcomponent %}
      <div class="mt-1 text-3xl font-bold text-font-important-light dark:text-font-important-dark">
        {{ summary_total_hours }}
      </div>
    </div>

    <div>
      {% component "unfold/components/text.html" with class="text-font-subtle-light dark:text-font-subtle-dark" %}
        Schüler:innen
      {% endcomponent %}
      <div class="mt-1 text-3xl font-bold text-font-important-light dark:text-font-important-dark">
        {{ summary_student_count }}
      </div>
    </div>

    <div>
      {% component "unfold/components/text.html" with class="text-font-subtle-light dark:text-font-subtle-dark" %}
        Schulen
      {% endcomponent %}
      <div class="mt-1 text-3xl font-bold text-font-important-light dark:text-font-important-dark">
        {{ summary_school_count }}
      </div>
    </div>

  </div>
{% endcomponent %}
